[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = ">=2,<3"
pydantic = ">=1.10.2,<2"
slack_sdk = "*"
sqlalchemy = ">=1.4,<2.1"

[dev-packages]
asyncpg = "*"
awscli-local = "*"
black = "*"
coverage = "*"
localstack = "*"
mypy = ">=1.4.*"
orjson = ">=3.9.1,<4"
pytest = "*"
pytest-benchmark = "*"
pytest-cov = "*"
pytz = "*"
types-orjson = "*"
types-pytz = "*"
autoflake="*"
setuptools="*"
build = "*"

[requires]
python_version = "3.9"

[scripts]
format-check = 'black --check --diff clubbi_utils'
format = 'black clubbi_utils'
build = 'python -m build'
