[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = ">=1,<2"
pydantic = ">=1,<2"
aiomysql = "*"
sqlalchemy = "*"
slack_sdk = "*"

[dev-packages]
pytest = "*"
coverage = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
