[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = ">=1,<2"
pydantic = ">=1.9.1,<2"
sqlalchemy = ">=1.4,<1.5"
slack_sdk = "*"

[dev-packages]
pytest = "*"
coverage = "*"
mypy = "*"
pytest-cov = "*"
orjson = ">=3.6.6,<4"
types-orjson = "*"
pytz = "*"
pytest-benchmark = "*"
localstack = "*"
awscli-local = "*"
black = "*"
types-pytz = "*"

[requires]
python_version = "3.9"

[scripts]
format-check = 'black --check --diff clubbi_utils'
format = 'black clubbi_utils'
